.btn {
    background-color: white;
    color: black;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    
}
.carre{
	width:200px;
	height:200px;
	background:blue;
    margin-top: 2rem;
}