body{
    background-image: url("img/space.jpg");
    background-size:cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    width: 100vh;
}

img{
    width: 10vh;
    position: absolute;
}